# File-based project format
*.iws

# IntelliJ
out/
.idea/*
.gitattributes

# Debug files
cmake-build-debug/CMakeFiles
cmake-build-debug/ChessCPP
cmake-build-debug/ChessCPP.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/Project.cbp
cmake-build-debug/laba3.cbp


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

